<!DOCTYPE html>
<html>
<head>
  <title>CheckMyComic - Homepage</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/profile">Profile</a></li>
      <% if (user) { %>
        <li>Welcome, <strong><%= user.name || user.email %></strong>!</li>
        <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Register</a></li>
      <% } %>
    </ul>
  </div>
  <h1>Welcome to CheckMyComic!</h1>
  <!-- Additional homepage content -->
</body>
</html>
